body{
    margin: 0;
}
.logoutarea{
    img {
        width: 100vw;
        height: 100vh;
        position: relative;
      }
      .btn1{
        position: absolute;
        top: 40%;
        left: 80%;
      }
      .btn2{
        position: absolute;
        top: 50%;
        left: 80%;
      }
}